*{
    margin:0;
    padding:0;
}
.BorderExperiment{
    width: 250px;
    height: 200px;
    background-color: orange;
    border-style: double;
    border-color: Brown;
    border-radius: 10px;
    border-width: 5px;
    border: 5px blue solid;
}