*{
    padding:2%;
    margin:1%;
}

p{
    padding:5%;
    width: 50%;
    height: 20%;
    border: 1px solid firebrick;
    /* overflow: hidden; */
    /* overflow: scroll; */
    overflow: auto;
    /* overflow: visible;  */
}